@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*_____header_______*/

.header__section {
    display: flex;
    justify-content: space-between;
}
.article__section {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;

}
.content__article {
    border: 1px solid #087f5b;
}

/*____main section___*/

.main__section {
    display: flex;
    justify-content: space-evenly;
}
.text__section {
    display: flex;
    flex-direction: column;
}
.star__section {
    
}
