:root{
    --color-1: #ff702a;
    --color-2: #FFFFFF;
    --color-3: #1e1d2b;
    --color-4: #000000;
    --color-5: #ffefe8;
    --color-6: #2c2b47;
    --space-lr: 0,15px ;
    --color-prueba:#087f5b;
}


@font-face {
    font-family: 'Poppins Normal';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v21/pxiDyp8kv8JHgFVrJJLmv1pVGdeOcEg.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }




